# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
.env

# Distribution / Packaging
build/
dist/
*.egg-info/

# Jupyter Notebook
.ipynb_checkpoints

# VS Code
.vscode/

# Project Specific
chroma_db/
**/chroma_db/
logs/
temp/