customtkinter
SpeechRecognition
pyaudio
video
python-dotenv
edge-tts
pygame
fastapi
uvicorn
requests
numpy
openai-whisper
langdetect
langchain
langchain-ollama
langchain-chroma
langchain-community
chromadb
unstructured
markdown
pypdf
jq