PyQt6
python-dotenv
pyaudio

numpy
langdetect
langchain
langchain-google-genai
langchain-mongodb
pymongo
pypdf
opencv-python
SpeechRecognition
edge-tts
pygame
nest_asyncio
rvc-python
torch
torchaudio
faiss-cpu
yt-dlp

